.container-flex {
    
    
    
}

.alta-flex {
    background-color: blue;
    height: 50px;  
    justify-content:space-between;
    display: flex;
    
}

.button-flex{



}

.link1{
    
    
    
}

.link2{
    
    
}


.bassa {
    background-color: rgb(255, 0, 0);
    height: 350px;
}
