.alta-flex {
    background-color: blue;
    height: 50px;  
    justify-content:space-between;
    display: flex;
    
}

.button{
    border: 1px solid black;
}


.bassa-flex {
    background-color: rgb(255, 0, 0);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    border: 1px solid black;
}

.paragrafo{
    width: 500px;
    height: 100px;
    border: 1px solid black;
    padding: 20px;
   
}

.link3 {
 border: 1px solid black;
}

.link4 {
border: 1px solid black;
}


.figure {
    background-color: orange;
}

.header-nav-col {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header-small-col {
    width: 20%;
    text-align: center;
}

.link-flex {
    display: flex;
    padding-top: 20px;
}



.layout-flex {
    display: flex;
    background-color: white;
    justify-content: center;
    padding-top: 50px;
    
}

.figura {
    border:1px solid black;
    height: 200px;
    width: 100px;
}

.h2 {
    border:1px solid black;
    height: 200px;
    width: 100px;
}

.testo {
    border:1px solid black;
    height: 200px;
    width: 100px;
}

.layout2-flex {
display: flex;
}